{% extends "base.html.twig" %}

{% block title %}Notre spa{% endblock %}

{% block body %}
<h1 class="text-center mt-4 mb-4">Le spa</h1>

<div class="card mb-3">
    <div class="mx-5 mt-3">
        <img src="{{asset('/upload/spa2.jpg')}}" class="card-img-top w-100" alt="...">
    </div>
  <div class="card-body">
    <p class="card-text">Unique en Provence dans la catégorie 3 étoiles, notre Spa Balnéa prend sa source dans l’Antiquité où les bains publics des thermes romains étaient considérés comme une nécessité pour une bonne hygiène corporelle et le maintien de la santé publique. Un lieu de détente absolu, où le silence est souhaité. Nagez, bougez… ou respirez tout simplement.  Choisissez ce qui est juste pour vous !</p>
    <p>Le Spa Balnéa se compose d’un couloir de nage, hammam, sauna et bain chaud avec jets massants. Il est accessible en supplément de votre chambre et réservé aux personnes de plus de 16 ans uniquement.</p>
  </div>
</div>
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
    <img src="{{asset('/upload/spa3.jpg')}}" class="card img-fluid" alt="une table dréssée de manière jolie"> 
    </div>
    <div class="col-md-8">
      <div class="card-body text-center">
        <h5 class="card-title fs-2 mb-4 mt-3">Découvrez le soin Détente</h5>
        <p class="card-text">Pour les amateurs de détente et d'évasion, l'hôtel & Spa Les Violettes vous invite à des moments de quiétude unique. Plus de 1000m² sont dédiés au bien-être du corps et de l’esprit. L'espace est équipé de piscine intérieure et extérieure chauffée à 33°, saunas, hammam, Bio sauna, grotte à sel, salle de repos... et propose des soins, en partenariat avec l'institut Lara Spa :  soins du corps et du visage, gommages et modelages relaxants, bains hydro-massant…</p>
        <div class="text-center"><button class="btn btn-outline-dark mt-4">Découvrir</button></div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
    <img src="{{asset('/upload/spa3.jpg')}}" class="card img-fluid" alt="une table dréssée de manière jolie"> 
    </div>
    <div class="col-md-8">
      <div class="card-body text-center">
        <h5 class="card-title fs-2 mb-4 mt-3">Découvrez le soin Relaxant</h5>
        <p class="card-text">Pour les amateurs de détente et d'évasion, l'hôtel & Spa Les Violettes vous invite à des moments de quiétude unique. Plus de 1000m² sont dédiés au bien-être du corps et de l’esprit. L'espace est équipé de piscine intérieure et extérieure chauffée à 33°, saunas, hammam, Bio sauna, grotte à sel, salle de repos... et propose des soins, en partenariat avec l'institut Lara Spa :  soins du corps et du visage, gommages et modelages relaxants, bains hydro-massant…</p>
        <div class="text-center"><button class="btn btn-outline-dark mt-4">Découvrir</button></div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
    <img src="{{asset('/upload/spa3.jpg')}}" class="card img-fluid" alt="une table dréssée de manière jolie"> 
    </div>
    <div class="col-md-8">
      <div class="card-body text-center">
        <h5 class="card-title fs-2 mb-4 mt-3">Découvrez le soin Détente</h5>
        <p class="card-text">Pour les amateurs de détente et d'évasion, l'hôtel & Spa Les Violettes vous invite à des moments de quiétude unique. Plus de 1000m² sont dédiés au bien-être du corps et de l’esprit. L'espace est équipé de piscine intérieure et extérieure chauffée à 33°, saunas, hammam, Bio sauna, grotte à sel, salle de repos... et propose des soins, en partenariat avec l'institut Lara Spa :  soins du corps et du visage, gommages et modelages relaxants, bains hydro-massant…</p>
        <div class="text-center"><button class="btn btn-outline-dark mt-4">Découvrir</button></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
